.post-create-functions{
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;

  .post-button{
    display: flex;
    margin: 0 auto;
    gap: 100px;
  }
}

.post-main{
  height: 100%;
  width: 60%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  

  .post{
    .post-image{
      display: flex;
      justify-content: center;
      img{
        width: 45%;
        height: 45%;
        object-fit: cover;
      }
    }

    .post-content{
      padding: 5px 40px 0 40px;
      h3{
        font-size: 20px;
        font-weight: bold;
        font-family: "Inter, sans-serif";
      }
      p{
        margin-top: 10px;
        font-size: 16px;
        text-align: justify;
        font-family: "Inter, sans-serif";
      }
    } 


    .buttons{
      margin-top: 20px;
      .apply-buttons{
        border-bottom: 1px solid #ccc;
        padding: 20px;
      }
      .reply-button{
        padding: 20px;
      }
    }
  }
}